.ErrorMessage {
  background-color: red;
  border: 1px solid grey;
  border-radius: 5px;
  color: white;
  position: fixed;
  top: 10px;
  right: 10px;
  width: 300px;
  height: 50px;
  overflow: hidden;
  cursor: pointer;
}
