@import 'utils/colors.scss';

.Card {
  position: relative;
  margin: 5px;
  cursor: pointer;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;

  flex-grow: 1;

  > .icon {
    $iconSize: 200px;
    width: $iconSize;
    height: $iconSize;
    background-size: cover;
    position: absolute;
    top: calc(50% - (#{$iconSize} / 2));
    left: calc(50% - (#{$iconSize} / 2));
    opacity: 0.2;
  }
}
