@import '../../utils/colors.scss';

.Card {
  margin: 5px;
  border: 1px solid $color-secondary;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  flex-grow: 1;
}
